.main{
    position: relative;
    margin: 40px;
    padding: 40px;
    justify-content: center;
}
.card
{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10vh;
    padding: 50px;
    margin-top: 150px;
}

.class1
{
    display: inline-block;
    margin: 20px;
    border: 1px solid red;
    box-shadow: 5px 5px 10px grey;
    border-radius: 3px;
    padding: 10px;
    width: 180px;
    height: 220px;
}
.class2
{
    display: inline-block;
    margin: 20px;
    border: 1px solid red;
    box-shadow: 5px 5px 10px grey;
    border-radius: 3px;
    padding: 10px;
    width: 180px;
    height: 220px;
}
.class3
{
    display: inline-block;
    margin: 20px;
    border: 1px solid red;
    box-shadow: 5px 5px 10px grey;
    border-radius: 3px;
    padding: 10px;
    width: 180px;
    height: 220px;
}
.class4
{
    display: inline-block;
    margin: 20px;
    border: 1px solid red;
    box-shadow: 5px 5px 10px grey;
    border-radius: 3px;
    padding: 10px;
    width: 180px;
    height: 220px;
}
.class5
{
    display: inline-block;
    margin: 20px;
    border: 1px solid red;
    box-shadow: 5px 5px 10px grey;
    border-radius: 3px;
    padding: 10px;
    width: 180px;
    height: 220px;
}
.main1{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 20vh;
    margin: 20px;
}
.back
{
    position: absolute;
    display: flex;
    justify-content: center;
}
.trip
{
    position: absolute;
}
.card2
{
    /* position: absolute; */
    position: relative;
    width: 900px;
    height: 50px;
    margin: 100px;
    top: 0;
    display: block;
    justify-content: center;
    align-items: center;

}
.class6
{
    margin: 20px;
    position: absolute;
    display: block;
    justify-content: center;
    border: 1px solid red;
    box-shadow: 5px 5px 10px grey;
    border-radius: 3px;
    padding: 10px;
    width: 220px;
    height: 220px;
}
.arrow1
{
    position: relative;
}

.notshow
{
    filter: blur(4px);
}
.main3
{
    position: relative;
    top: 0;

}
.pop
{
    background-color: white; 
    width: 260px; 
    height: 160px; 
    position: absolute;
    display: block;
    left: 40%;
    top: 25%;
    justify-content: center;
    align-items: center; 
    border: 1px solid red;
    box-shadow: 5px 5px 10px grey;
    border-radius: 5px;
}
a{
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    .main
    {
        height: 20vh;
    }
    .card
    {
        float: none;
        margin: 20px;
        display: block; 
        width: 80%;
        height: 8vh; 
    }
    #list
    {
        font-size: 40px;
    }
    .main
    {
        position: relative;
        margin-top: 30px;
        border: none;
    }
    #addlist
    {
        display: none;
    }
    .subclass
    {
        display: none;
    }
    .class1
    {
        width: 80%;
        height: 8vh;
    }
    .class2
    {
        width: 80%;
        height: 8vh;
    }
    .class3
    {
        width: 80%;
        height: 8vh;
    }
    .class4
    {
        width: 80%;
        height: 8vh;
    }
    .class5
    {
        width: 80%;
        height: 8vh;
    }
    .arrow
    {
        position: relative;
        justify-items: center;
    }
    .container1
    {
        width: 80%;
    }
    .back
    {
        display: flex;
    }
    .card2
    {
        width: 80%;
        position: relative;
        display: flex;
        margin: 20px;
    }
    .trip
    {
        position: absolute;
        float: right;
    }
    .main{
        position: relative;
        width: 10vh;
        width: 60%;
    }
    .class6{
        position: absolute;
        justify-content: center;
    }
    .back
    {
        display: flex;
        float: left;
        left: 0;
        top: 10px;
    }
    .card2 hr{
        display: none;
    }
    .pop
    {
        position: absolute;
        display: block;
        justify-content: center;
        left: 25%;
    }
    .main1{
        height: 20vh;
    }
    
  }